# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# 
*.vs
proto/include/pb/
Binaries/
DerivedDataCache/
Intermediate/
Saved/
lib/

# myprotolib/
myprotolib/x64/
myprotolib/.vs/
myprotolib/Debug/
myprotolib/lib/

# ThirdParty
ThirdParty/Asio/

# Plugins
Plugins/CommonLibs/
Plugins/uesvon/
